@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

.editButtons {
    width: 50%;
    padding: 20px;
    margin: 0 auto;
}

.serButtons {
    width: 50%;
    padding: 20px;
    padding-top: 0px;
    margin: 0 auto;
}

.text {
    background-color: white;
    resize: vertical;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 50%;
    height: 500px;
    border-style: dashed;
    border-color: black;
    border-width: 2px;
    overflow: scroll;
}

/* -------------------------------- */

.website-background {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    background-position: center;
    background-image:  url("https://cutewallpaper.org/21/realistic-minecraft-wallpapers/A-beautiful-screenshot-suited-for-wallpapers-Minecraft.png");
    transform: scale(1.1); 
}

.page-content {
    background-color: rgb(27, 27, 27);
    color: white;
    padding: 2rem;
    border-radius: 10px;
    margin: 0 auto;
    width: 50%;
}

.page-content h1 {
    font-size: 3em;
    font-weight: 600;
}

.page-content h2 {
    font-size: 2em;
    font-weight: 400;
    padding-bottom: 0.5rem;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 1px;
    width: fit-content;
}

.page-content h3 {
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1.75em;
}

.page-content p{
    font-size: 1.1em;
    line-height: 1.75em;
}

.page-content a {
    color: white;
}

.page-content img {
    height: auto;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 5px;
}